@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.Toastify__toast-container--top-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: auto !important;
}

@layer utilities {
  .scroll-container::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar in Webkit browsers */
  }

  .scroll-container {
    scrollbar-width: none;
    /* Hide the scrollbar*/
  }
}

/* Add this custom CSS to check the cursor image */
.cursor-custom {
  cursor: url('/Nepal-Flag-icon.png'), pointer;
}


/* Hide number input arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  @apply appearance-none;
}

/* Hide number input arrows in Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

@keyframes marquee {
  0% {
    transform: translateX(700px);
  }

  100% {
    transform: translateX(-800px);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}