@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}



.Toastify__toast-container--top-center {
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: auto !important;
}

@layer utilities {
  .scroll-container::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar in Webkit browsers */
  }

  .scroll-container {
    scrollbar-width: none;
    /* Hide the scrollbar*/
  }
}

@layer base {

  input:focus::placeholder,
  textarea:focus::placeholder {
    color: transparent;
  }
}



/* Hide number input arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  @apply appearance-none;
}

/* Hide number input arrows in Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}


.toast-auto-width {
  min-width: auto;


}




@keyframes marquee {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 12s linear infinite;
}

@keyframes marqueeLong {
  0% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(-150%);
  }
}

.animate-marqueeLong {
  display: inline-block;
  white-space: nowrap;
  animation: marqueeLong 16s linear infinite;
}